<div id='resource'  ng-init='createLab = true'>
  <div class='machines-list' ng-if='createLab == true'>
    <div class='title'>
      Modèles de machines
    </div>
    <div class='content'>
      <div class='instance-model' ng-repeat="template in templates" elem-drag='template'>
        <a class='pointer' ng-click='editInstanceModel(template)'>{{template.name}}</a>
      </div>
      <button class='btn btn-link' ng-click='editInstanceModel()'>Ajouter</button>
    </div>
  </div>
  <div class='wide'>
    <div class='title'>
      Édition du lab
    </div>
    <div class='content lab'>
      <div class='modal-header'>
        <h3 class='modal-title' id='modal-title'>
          {{ev.title}}
        </h3>
        <h4 class='modal-title' id='modal-subtitle'>
          {{ev.school}} {{ev.promo}} Groupe {{ev.group}}
        </h4>
        <h5 class='modal-title' id='modal-subtitle'>
          Séance du {{ev.start._d|date: 'dd/MM/yy'}} de 
          {{ev.start|date: 'hh:mm'}} à {{ev.end|date: 'hh:mm'}}
        </h5>
      </div>
      <div class='modal-body' id='modal-body'>
        <div ng-hide='createLab'>
          <button class='btn btn-success' ng-click='createLab = true'>
            Créer un lab pour cette séance
          </button>
          <button class='btn btn-success' ng-click='useTpl'>
            Utiliser un modèle de lab
          </button>
        </div>
        <div ng-if='createLab == true' style='text-align: left'>
          <p ng-if='lab.guacamoleIp'>
            <a class='btn btn-success' target='_blank' href='{{"http://" + lab.guacamoleIp + "/guacamole/"}}'>Accéder au machines</a>
          </p>
          <div class='network' ng-repeat='network in lab.networks'>
            <div class="title">
              <span class='glyphicon glyphicon-remove pointer'
                 ng-if='$index > 0 || lab.networks.machines.length > 1' ng-click='rmNetwork($index)'></span>
              Réseau {{$index + 1}}
            </div>
            <div class="content" elem-drop='addInstance' elem-drop-network='network'>
              <span ng-show="!network.machines.length">Veuillez déposer des machines ici</span>
              <div ng-repeat="conf in network.machines" class='instance'>
                <span class='glyphicon glyphicon-remove pointer' ng-click='rmInstance(network, $index)'></span>
                {{conf.name}} - <a class='pointer' ng-click='editInstanceModel(conf, true)'>Editer</a>
              </div>
              <span ng-if='machinesCount === maxMachines'>Le nombre maximum de machines a été atteint</span>
            </div>
          </div>
          <div class='network fake pointer' ng-show='lab.networks.length < maxNetworks' ng-click='addNetwork()'>
            <div class='title'>
              <span style='visibility:hidden'>yolo</span>
            </div>
            <div class='content'>
              <span>Ajouter un réseau</span>
            </div>
          </div>
          <div>
            <div ng-show='lab.networks.length == maxNetworks'>Le nombre maximum de réseaux a été atteint</div>
          </div>
        </div>
      </div>
      <div class='modal-footer' style='text-align: center'>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
        <!-- <button ng-disabled='notFinished()' class="btn btn-primary" type="button" ng-click="saveTemplate()">
          Sauvegarder comme modèle
          </button> -->
        <button ng-disabled='notFinished()' class="btn btn-success" type="button" ng-click="ok()">Sauvegarder</button>
        <button ng-disabled='notFinished()' class="btn btn-success" type="button" ng-click="startLab()">Lancer</button>
        <button ng-disabled='notFinished()' class="btn btn-danger" type="button" ng-click="stopLab()">Arrêter</button>


      </div>
    </div>
  </div>
</div>
