.btn-success {
  background-color: #70b85c;
  color: white;
}

.btn-success:hover {
  background-color: #47a447;
}

.dragging-element {
  position: absolute;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #656565;
  background-color: #eee;
  padding: 0.4em;
  padding-left: 1em;
  cursor: pointer;
  display: block;
  min-width: 70px;
  font-weight: bold;
}

.not-dragging-element {
  position: initial;
  display: none;
}

.fc-v-event {
  cursor: pointer;
}

.modal-header, .modal-body {
  text-align: center;
}

.network {
  margin: 2px;
  display: inline-block;
  vertical-align: top;
}

.network .title {
  margin-top: 0px;
  width: 250px;
}

.network.fake .title {
  background: lightgrey;
}

.network.fake:hover .title {
  background: grey;
}

.network .content {
  min-height: 150px;
  margin: 0px;
  border: 1px solid lightgrey;
  padding: 0px
}

.network.fake .content {
  text-align: center;
  padding-top: 50px;
}

.wide {
  width: 100%;
}

.content.lab {
  width: 100%;
}

.machines-list {
  margin-right: 10px; 
}

.instance-model {
  background: #eee;
  padding: 5px;
  margin: 5px;
  cursor: grab;
}

.instance {
  width:100%;
  border-bottom: 1px solid lightgrey;
}

#upperbar .general-menu .item.calendar:before {
  content: "\e109";
}

#upperbar .general-menu .item.calendar.selected {
  border-left-color: #ed9319;
}
